@{
    ViewData["Title"] = "Help";
}

<div class="content">
    <section id="buttons">
        <div class="container-internal text-center">
            <h2>Comece a usar o Arch.</h2>
            <div class="container-buttons text-center">
                <div class="row mb-4">
                    <a class="button flat col install" asp-action="Instalacao">
                        <figure></figure>
                        <h4>Instalação do Arch</h4>
                        <p>Um guia passo a passo simples para ajudá-lo a instalar o Arch Linux. </p>
                    </a>

                    <a class="button flat col  requirements" asp-action="PosInstalacao">
                        <figure></figure>
                        <h4>Pós Instalação</h4>
                        <p>Um guia de instalação gráfica para o Arch Linux.</p>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="forum">
        <div class="forum text-center container-internal">
            <figure></figure>
            <h5 class="forum-h5">Forum</h5>
            <h2>Ajuda da comunidade.</h2>
            <p>Faça perguntas e encontre respostas para as perguntas que outras pessoas fizeram. </p>
            <p><a href="https://bbs.archlinux.org/" target="_blank" class="link-forum">Visite o Forum do Arch</a></p>
        </div>
    </section>
</div>

