@{
    ViewData["Title"] = "Pós Instalação";
}

<section>
    <div class="container-internal text-center requirements">
        <figure></figure>
        <h1>Pós Instalação do Arch Linux</h1>
        <p>Para deixa o Arch com uma aparência melhor, você pode serguir os passos abaixo.</p>
    </div>
    <hr />
</section>
<section>
    <div class="container space-hr">
            <h2 class="text-center">Instalando a loja Pling</h2>
            <div class="text-center">
                <p>Para personalizar o Arch Linux, você precisará de instalar a loja Pling Store.</p>
                <a target="_blank" href="https://www.pling.com/p/1175480/"><button class="btn-info-internal">Baixar Pling Store</button></a>
            </div>
            <div>
                <ol>
                    <li class="li-help">Abra a Pling Store e Selecione na barra de busca o ambiente XFCE.
                        <img src="~/css/img/plingstore-select_xfce.png" class="shadow rounded" /><br/>
                    </li>
                    <li class="li-help">
                        Escolha um tema da sua preferência. Aperte em "Instalar" e escolha a versão do tema desejado. <br />
                        <img src="~/css/img/plingstore_tema_preferencia.png" class="shadow rounded" />
                    </li>
                    <li class="li-help">
                        Pronto. Agora é selecionar o tema em <kbd>setting </kbd>depois em<kbd>Appearence</kbd> <br />
                        <img src="~/css/img/plingstore_setting.png" class="shadow rounded" />
                    </li>
                    <li class="li-help">
                        Pronto. Agora o seu Arch esta a sua "cara" !<br />
                        <img src="~/css/img/plinhstore_final.png" class="shadow rounded" />
                    </li>
                    
                </ol>
            </div>
        </div>
</section>