@{
    ViewData["Title"] = "Home";
}

<section id="press" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="box text-center">
                    <img src="~/css/img/thunar-img.png" alt="Thunar">
                    <blockquote cite="https://wiki.archlinux.org/title/thunar">
                        "Thunar é um gerenciador de arquivos que integra o ambiente gráfico Xfce. É um programa caracterizado pela simplicidade e pela leveza na operação."
                    </blockquote>
                </div>
            </div>

            <div class="col-3">
                <div class="box text-center">
                    <img src="~/css/img/Top-removebg-preview.png" alt="TOP">
                    <blockquote cite="https://wiki.archlinux.org/title/Pacman">
                        "O comando top fornece uma visão em tempo real de um sistema em execução. Ele exibi uma lista de processos ou threads do sistema."
                    </blockquote>
                </div>
            </div>

            <div class="col-3">
                <div class="box text-center">
                    <img src="~/css/img/Pacman-removebg-preview.png" alt="Pacman">
                    <blockquote cite="https://wiki.archlinux.org/title/Pacman">
                        "Pacman foi criando em 2002 para o Arch, Tendo o objetivo de deixar fácil o gerênciamento de pacotes usando poucos comandos."
                    </blockquote>
                </div>
            </div>

            <div class="col-3">
                <div class="box text-center">
                    <img src="~/css/img/swap-removebg-preview.png" alt="Swap">
                    <blockquote cite="https://wiki.archlinux.org/title/Swap_(Português)">
                        "O espaço swap pode ser usado para estender a memória virtual além da memória física instalada (RAM)."
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>

