@{
    ViewData["Title"] = "Privacy";
}

<section id="referencias">
    <div class="container-internal referencias">
        <h2 class="text-center">Referências</h2>
        <ul class="li-help type refe">
            <li class="li-help"><a href="https://archlinux.org" class="link-referencia">archlinux.org</a></li>
            <li class="li-help"><a href="https://zorinos.com" class="link-referencia">zorinos.com</a></li>
        </ul>
    </div>
</section>

<hr />

<section id="desenvolvido">
    <div class="container-internal space-hr refe">
        <h2 class="text-center">Desenvolvido por</h2>
        <ul>
            <li>
                <p>
                    Guilherme Malaquias da Silva |
                    <a href="https://bit.ly/GuilhermeLinkedIn"><i class="fab fa-linkedin" id="icon"></i></a> | <a href="https://bit.ly/GuilhermeIG"><i class="fab fa-instagram" id="icon"></i></a>
                </p>
            </li>
            <li>
            <p>
                Victor Martins e Silva |
                <a href="https://cutt.ly/whWx2n8"><i class="fab fa-linkedin" id="icon"></i></a> | <a href="https://cutt.ly/4hWcoAY"><i class="fab fa-instagram" id="icon"></i></a>
            </p>
            </li>
        </ul>
    </div>
</section>
