@{
    ViewData["Title"] = "Download";
}

<div class="container-internal">
    <div class="row">
        <div class="col-12">
            <section class="download-apresetation mb-4">
                <div class="row featurette">
                    <div class="col-6">
                        <div class="d-flex justify-content-center">
                            <img src="~/css/img/download-image.jpg" class="img-100"/>
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            <div class="text-muted">
                                <h4 id="h4-download">
                                    Arch <span id="span-download">Linux</span>
                                </h4>
                            </div>
                            <div>
                                <h4 class="text-muted"><span>Faça do Arch um sistema único.</span></h4>
                                <p>Comece a utilizar o Arch Linux como seus sistema operacional. Personalize-o de acordo com seu gosto.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="mt-5">
                <section class="download">
                    <div class="d-flex justify-content-center">
                        <div>
                            <div class="form-download">
                                <a href="https://bit.ly/archlinux-iso" target="_blank" class="btn btn-info-internal " id="btn-download">Download</a>
                                <p class="text-form-download"> Ou <br /><a class="link-forum" target="_blank" href="https://archlinux.org/download/">Faça download direto do site oficial.</a></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            
        </div>
    </div>
</div>